
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
   
    background: #007bff !important;
    color: white !important;
    font-weight: bold !important;
    border-radius: 4px;
}